{% extends "layout.html" %}

{% block content %}
  <section>
    <h2>Add Category</h2>
    <form class="form" method="post" action="{{ url_for('add_category') }}">
      {{ form.hidden_tag() }}

      {% for field in form %}
        {% if field.type != 'CSRFTokenField' %}
          {{ field.label }}
          {{ field(class="form-control") }}
          {% for error in field.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
        {% endif %}
      {% endfor %}

      <div class="form__actions">
        <button class="btn btn--add" type="submit">Add Category</button>
        <a class="btn btn--cancel" href="{{ url_for('list_categories') }}">Cancel</a>
      </div>
    </form>
  </section>
{% endblock content %}
