{% extends "layout.html" %}

{% block content %}
  <section>
    <h2>Product Categories</h2>
    <div class="card-container">
      {% for category in categories %}
        <a class="card" href="{{ url_for('view_category', category_id=category.id) }}">
          <h3>{{ category.name }}</h3>
        </a>
      {% else %}
        <p>No categories available.</p>
      {% endfor %}

      <div class="form__actions">
        <a class="btn btn--add" href="{{ url_for('add_category') }}">Add Category</a>
      </div>
    </div>
  </section>
{% endblock content %}
