{% extends "layout.html" %}

{% block content %}
  <section>
    <h2>{{ title }}</h2>
    <form class="form" method="post" action="{{ action_url }}" novalidate>
      {{ form.hidden_tag() }}

      {% for field in form %}
        {% if field.type != 'CSRFTokenField' %}
          {{ field.label }}
          {{ field(class="form-control") }}
          {% for error in field.errors %}<div class="form-error">{{ error }}</div>{% endfor %}
        {% endif %}
      {% endfor %}

      <div class="form__actions">
        <button class="btn {{ button_class }}" type="submit">{{ button_text }}</button>
        <a class="btn btn--cancel" href="{{ cancel_url }}">Cancel</a>
      </div>
    </form>
  </section>
{% endblock content %}
