{% extends "layout.html" %}

{% block content %}
  <section>
    {% if category %}
      <h2>Products in Category: {{ category.name }}</h2>
    {% else %}
      <h2>All Products</h2>
    {% endif %}
    <ul>
      {% for product in products %}
        <li>
          <a href="{{ url_for('view_product', product_id=product.id) }}">
            {{ product.name }} - {{ product.price }} USD (Stock: {{ product.stock }})
          </a>
        </li>
      {% else %}
        <li>No products available.</li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
